<!doctype html>
<html lang="ko" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" th:href="@{/styles.css}">
    <title>🧑‍🏫 교사 목록</title>
</head>
<body>
<h1>🧑‍🏫 교사 목록</h1>
<p>
    <a href="/">🏠 홈으로</a>
    <a href="/teachers/add">➕ 교사 등록</a>
</p>
<table>
    <thead>
    <tr>
        <td>ID</td>
        <td>이름</td>
        <td>액션</td>
    </tr>
    </thead>
    <tbody th:each="teacher: ${teachers}">
    <tr>
        <td th:text="${teacher.id}"></td>
        <td th:text="${teacher.name}"></td>
        <td>
            <a th:href="@{'/teachers/edit/' + ${teacher.id}}">수정</a>
            <a th:href="@{'/teachers/delete/' + ${teacher.id}}">삭제</a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>